.main_container{
    display: flex;
    /* grid-gap: 2em; 
    /* grid-template-columns: repeat(auto-fit, minmax(30px,1fr));  */
    justify-content: space-evenly;
    align-items: flex-start; 
    flex-direction: row;
    flex-flow: wrap;

} 
.contains{
    display: flex;
    margin: 5px;
    align-items: right;
    justify-content: right;
}
.card-body{
    overflow: hidden;
}

.side_1{
    display: flex;
    align-items: right;
    justify-content: space-between;
}
#quantity{
    margin-bottom: 5px;
    
}
.add_to_order{
    width: 254px;
}

@media screen and (max-width:1000px){
    .contains{
        width: 40%;
    }
}
@media screen and (max-width:600px){
    .contains{
        width: 100%;
    }
}